.popup__container {
  display: grid;
  grid-template-areas:
    ". close"
    "dialog .";
  grid-template-columns: 1fr 40px;
}

@media (max-width: 879px) {
  .popup__container {
    grid-template-areas:
      "close"
      "dialog";
    grid-template-columns: 1fr;
    grid-template-rows: 36px 1fr;
  }
}
